.menu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    border-radius: 30px;
    margin: 20px;
}

.menu-content {
    display: table;   /* Allow the centering to work */
    bottom: 0;
}

.menu-item {
    display: block;
    font-size: 20px;
    padding: 20px 0;
    margin: 5px 0;
    border-bottom: 0.1px white solid;
}

.menu-items {
    padding: 20px 30px;
    margin: 0 20px;
}

.clickyButton {
    color: white;
}

.clickyButton:hover {
    color: red;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    max-width: 800px;
    min-height: 800px;
    margin: 30px auto;
    text-align: center;
    border-radius: 30px;
}

.row-card {
    margin: 5%;
    min-width: 700px;
    min-height: 700px;
}

.home-navigation {
    margin-left: 15px;
}
.actualimage {
    position:absolute;
    width: 100px;
    height: 100px;
}

.actualimage:hover {
    opacity: 0.5;
    transition: 0.5s ease;
}

@media only screen and (max-width: 768px) {
    .row-card {
        min-width: 200px;
        min-height: 300px;
        max-height: 300px;
    }
    .menu {
        max-width: 150px;
        max-height: 200px;
        max-height: 210px;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 90px;
        border-radius: 30px;
        margin: 10px;
    }
    .menu-items {
        padding: 0;
        margin: 5px;
    }
    .clickyButton {
        color: white;
        font-size: 15px;
    }
    .card {
        max-width: 800px;
        min-height: 760px;
        margin: 0;
        text-align: center;
        border-radius: 30px;
    }
    .home-navigation {
        margin: 0;
    }
    .actualimage {
        position:absolute;
        width: 40px;
        height: 40px;
        margin: 10px;
    }
}