.menu {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    border-radius: 30px;
    margin: 20px;
}

.menu-content {
    display: table;   /* Allow the centering to work */
    bottom: 0;
}

.menu-item {
    display: block;
    font-size: 20px;
    padding: 20px 0;
}

.menu-items {
    padding: 20px 30px;
    margin: 0 20px;
}

.clickyButton {
    color: white;
}

.clickyButton:hover {
    color: red;
    transition: 0.5s;
}

a {
    text-decoration: none;
  }
