.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: 1px rgba(0, 0, 0, 0.2) solid;
    min-width: 1000px;
    max-width: 1000px;
    min-height: 800px;
    margin: 30px auto;
    text-align: center;
}